body {
  background-color: #f0f0f0;
}

.container {
  display: flex;
  gap: 20px;
  border-radius: 5px;

}

.box {
  padding: 30px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
}

.testo-git {
  font-size: 16px;
  text-align: justify;
  line-height: 1.2;
}


.nota {
  background-color: #d153be;
  border: 0px solid #ff0000;
  opacity: 70%;
}