# MORE INFO --> PACKETS.md

# ===============================
# Web API
# ===============================
fastapi==0.110.0
uvicorn==0.29.0

# ===============================
# AI / NLP
# ===============================
transformers==4.39.3
sentencepiece==0.2.0
pandas==2.3.3